$sta-alert-note-bg: adjust-hue($sta-background, 60);
$sta-alert-note-dark-bg: adjust-hue($sta-dark-background, 60);

$sta-alert-code-bg: darken($sta-background, 10%);
$sta-alert-code-dark-bg: lighten($sta-dark-background, 10%);

.section-heading p {
  color: #774;
}

.dark .section-heading p {
  color: #788;
}

.dark pre {
  font-family: $sta-font-mono, monospace;
  color: #ddd;
  background-color: $sta-alert-code-dark-bg;
}

pre {
  font-family: $sta-font-mono, monospace;
  color: #222;
  background-color: $sta-alert-code-bg;
}

.dark code {
  font-family: $sta-font-mono, monospace;
/*  color: #ddd;
  background-color: $sta-alert-code-dark-bg; */
    background-color: inherit;
}

code {
  font-family: $sta-font-mono, monospace;
/*  color: #222; 
  background-color: $sta-alert-code-bg; */
    background-color: inherit;
}

.card-simple {
  background: #e8e8d0;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #e8e8d0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-out;
}

.article-style aside,
.alert-note {
  color: #222;
  background-color: $sta-alert-note-bg;
  border-color: #209cee;
}

.article-style aside,
.dark .alert-note {
  color: #ddd;
  background-color: $sta-alert-note-dark-bg;
  border-color: #209cee;
}


.rbresult {
  margin-bottom: 1.5rem;
  padding:1em;
  font-family:serif;
  text-align:center;
  font-size:30px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #d2d0e8;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.todo-header {
    color: #ccff66;
    font-size:80%;
}

.todo {
    background-color: #0f7173;
    color: #e7ecef;
    padding: 20px;
}

.spoiler-container {
    padding-bottom: 20px;
    
}

.spoiler {
    background-color: $sta-alert-code-bg;
    padding:5px;
    display: none;
}

.dark .spoiler {
    background-color: $sta-alert-code-dark-bg;
    display: none;
}

.spoiler blockquote {
    color: #555;
}

.dark .spoiler blockquote {
    color: #ccc;
}


.spoiler-link {
    background-color: #888;
    color: #fff;
    padding: 5px;
}

.dark .spoiler-link {
    background-color: #446;
    color: #fed;
    padding: 5px;
}


.important {
    border: 2px solid black;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.dark .quiz fieldset {
    background-color: #667;
    
}

.slidect {
    background-color: #88a;
    color:#fff;
    text-align:center;
}   
    


.quiz input[type=checkbox] {
    transform: scale(1.5);
}

.quiz fieldset {
    border:solid;
    border-top: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 1em;
    background-color: #eee;
}

.quiz .quiz-question {
    font-size: 120%;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.quiz .hint {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-size:1.25rem;
    font-weight: bold;
}

.quiz label {
    margin-left: 15px;
    display: block;
    font-size:100%;
    line-height: 1.75em;
}

.quiz input[type="checkbox"] {
    margin-right: 10px;
    page-break-after: avoid;
    page-break-before: avoid;
}

.quiz input[type="submit"] {
    border:solid;
    background: #aaa;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    height: 2.5em;
    margin-top: 2em;
    text-transform: uppercase;
    width: 100%;
}

.quiz table {
    color: white;
    font-weight: bold;
    margin: 1em auto 2em auto;
    width: 100%;
}

.quiz td {
    padding: 5px 15px;
    text-align: left;
    width: 60px;
}

.quiz td.missing-label,
.quiz td.missing-score {
    background: #CECBC2;
}

.quiz td.right-label,
.quiz td.right-score {
    background: #74b559;
}

.quiz td.wrong-label,
.quiz td.wrong-score {
    background: #D01F3C;
}
